
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Show Card ID</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Card ID</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Nationality</th>
                                            <th scope="col">Place Of Birthday</th>
                                            <th scope="col">Gener</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="customtable">
                                        <tr th:each="identityCard : ${identity_card}">
                                            <td th:text="${identityCard.id}">
                                                </th>
                                            <td th:text="${identityCard.firstName}"></td>
                                            <td th:text="${identityCard.lastName}"></td>
                                            <td th:text="${identityCard.nationality}"></td>
                                            <td th:text="${identityCard.placeOfBirthday}"></td>
                                            <td th:text="${identityCard.gender}"></td>
                                            <td> <a th:href="@{/pdf/{id}(id=${identityCard.id})}"
                                                    class="btn btn-warning btn-sm">Export (PDF)</a></td>
                                            <td><a th:href="@{/updateIdCard/{id}(id=${identityCard.id})}"
                                                    class="btn btn-secondary btn-sm">Update</a></td>
                                            <td><a th:href="@{/deleteIdCard/{id}(id=${identityCard.id})}"
                                                    class="btn btn-danger btn-sm">Delete</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                            <!-- <div class="card-body">
                                <h5 class="card-title m-b-0">Identity Card</h5>
                            </div>
                            <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">First Name</th>
                                      <th scope="col">Last Name</th>
                                      <th scope="col">Nationality</th>
                                      <th scope="col">Place Of Birthday</th>
                                      <th scope="col">Gener</th>
                                      <th scope="col"></th>
                                      <th scope="col"></th>
                                      <th scope="col"></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr th:each="identityCard : ${identity_card}">
                                      <td th:text="${identityCard.id}"></th>
                                      <td th:text="${identityCard.firstName}"></td>
                                      <td th:text="${identityCard.lastName}"></td>
                                      <td th:text="${identityCard.nationality}"></td>
                                      <td th:text="${identityCard.placeOfBirthday}"></td>
                                      <td th:text="${identityCard.gender}"></td>
                                      <td> <a th:href="@{/pdf/{id}(id=${identityCard.id})}" class="btn btn-warning btn-sm">Export PDF</a></td>
                                      <td><a th:href="@{/updateIdCard/{id}(id=${identityCard.id})}" class="btn btn-secondary btn-sm">Update</a></td>
                                      <td><a th:href="@{/deleteIdCard/{id}(id=${identityCard.id})}" class="btn btn-danger btn-sm">Delete</a></td>
                                    </tr>
                                  </tbody>
                            </table> -->
                        </div>



                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by css.de
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <div th:replace="../templates/layouts/footer.html"></div>
       