        <div th:replace="../templates/layouts/header.html"></div>
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Card ID</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Update Card ID</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <form action="#" th:action="@{/saveIdCard}" th:object="${identity_card}" method="POST"
                                class="form-horizontal">
                                <div class="card-body">
                                    <input type="hidden" th:field="*{id}" />
                                    <h4 class="card-title">Update Card ID</h4>
                                    <div class="form-group row">
                                        <label for="fname"
                                            class="col-sm-3 text-right control-label col-form-label">First Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" th:field="*{firstName}" class="form-control" 
                                                placeholder="First Name Here">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Last
                                            Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" th:field="*{lastName}"
                                                placeholder="Last Name Here">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname"
                                            class="col-sm-3 text-right control-label col-form-label">Place Of
                                            Birthday</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" th:field="*{placeOfBirthday}"
                                                placeholder="Place Here">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email1"
                                            class="col-sm-3 text-right control-label col-form-label">Date Of Birthday</label>
                                        <div class="col-sm-9">
                                            <input type="datetime" class="form-control" th:field="*{dateOfBirthday}"
                                                placeholder="Company Name Here">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Date
                                            Of Expiry</label>
                                        <div class="col-sm-9">
                                            <input type="datetime" class="form-control" th:field="*{dateOfExpiry}"
                                                placeholder="Date Here">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Date
                                            Of Issue</label>
                                        <div class="col-sm-9">
                                            <input type="datetime" class="form-control" th:field="*{dateOfIssue}"
                                                placeholder="Date Here">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cono1"
                                            class="col-sm-3 text-right control-label col-form-label">Gender</label>
                                        <div class="col-md-9">
                                            <select class="select2 form-control custom-select" th:field="*{gender}"
                                                style="width: 100%; height:36px;">
                                                <option value="M">Male</option>
                                                <option value="F">Fmale</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="cono1"
                                            class="col-sm-3 text-right control-label col-form-label">Issued By</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" th:field="*{issuedBy}"
                                                placeholder="issuedBy">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cono1"
                                            class="col-sm-3 text-right control-label col-form-label">Nationality</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" th:field="*{nationality}"
                                                placeholder="Nationality Here">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cono1"
                                            class="col-sm-3 text-right control-label col-form-label">Personal
                                            Number</label>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" th:field="*{personalNumber}"
                                                placeholder="Personal Number Here">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cono1"
                                            class="col-sm-3 text-right control-label col-form-label">Residence</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" th:field="*{residence}"
                                                placeholder="Residence Here">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by css.de
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <div th:replace="../templates/layouts/footer.html"></div>